{% extends "layout.html" %}

{% block title %}{{ user.name }}的粉丝 | {% endblock %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h2>{{ user.name }}的粉丝：<span class="text-muted">{{ followers | length }} 人</span></h2>
	</div>
	{%- if not followers[0] -%}
	<div class="panel-body">
		彪悍的人生不需要解释……
	</div>
	{%- else -%}
	<ul class="list-group">
		{%- for follow in followers -%}
		<li class="list-group-item">
			<a href="{{ url_for('author',name=follow.follower.name) }}">
				<img class="img-rounded profile-thumbnail" src="{{ follow.follower.gravatar(size=24) }}">
				{{ follow.follower.name }}
			</a>&ensp;
			<span class="text-muted user_about_me">{{ follow.follower.about_me | truncate(20,True,'...') }}</span>&ensp;
			{%- if g.user.id == user.id -%}
				{%- if g.user.is_following(follow.follower) -%}
				<span class="label label-success"><span class="glyphicon glyphicon-transfer"></span> 已相互关注</span>&ensp;
				<a class="label label-danger" href="{{ url_for('unfollow',name=follow.follower.name) }}">取消关注</a>
				{%- else -%}
				<span class="text-success">{{ follow.timestamp | string | truncate(11,True,'') }} 开始关注我</span>
				<a class="label label-success" href="{{ url_for('follow',name=follow.follower.name) }}">关注 Ta</a>
				{%- endif -%}
			{%- endif -%}
		</li>
		{%- endfor -%}
	</ul>
	{%- endif -%}
</div>
{% endblock %}

{% block javascripts %}
{% include '__about_me__.html' %}
{% endblock %}