{% extends "layout.html" %}

{% block title %}个人设置 | {% endblock %}

{% block content %}
<div class="panel panel-default form">
	<div class="panel-heading">
		<h2><span class="glyphicon glyphicon-cog"></span> 个人信息</h2>
	</div>
	<div class="panel-body">
		{%- include "__error.html" -%}
		{%- include "__flash.html" -%}
		<form action="{{ url_for('settings') }}" method="post">
			{{ form.hidden_tag() }}
			<div class="form-group">
			<label class="control-label" for="name">姓名</label>
			{{ form.name(class="form-control",id="name",required="True") }}
			</div>
			<div class="form-group">
			<label class="control-label" for="nickname">昵称</label>
			{{ form.nickname(class="form-control",id="nickname",required="True") }}
			</div>
			<div class="form-group">
			<label class="control-label" for="location">来自</label>
			{{ form.location(class="form-control",id="location") }}
			</div>
			<div class="form-group">
			<label class="control-label" for="about_me">关于我</label>
			{{ form.about_me(class="form-control",id="about_me") }}
			</div>
			<div class="form-group">
			<label class="control-label" for="password">新密码</label>
			{{ form.password(class="form-control",id="password",required="True") }}
			</div>
			<div class="form-group">
			<label class="control-label" for="password_confirm">确认密码</label>
			{{ form.password_confirm(class="form-control",id="password_confirm",required="True") }}
			</div>
			<a href="{{ url_for('author', name=g.user.name) }}" class="btn btn-default">
				<span class="glyphicon glyphicon-remove"></span> 取消
			</a>
			<button id="submit" name="submit" type="submit" class="btn btn-primary">
				<span class="glyphicon glyphicon-ok"></span> 更改
			</button>
		</form>
		<hr/>
		<a href="{{ url_for('delete_profile') }}" class="btn btn-danger btn-block" id="delete_profile">
			<span class="glyphicon glyphicon-trash"></span> 注销用户
		</a>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
	document.getElementById('submit').onclick=
	function(){
		if (document.getElementById('password').value != document.getElementById('password_confirm').value)
			{alert('两次输入不一致！');return false;}
		else {return true;}
	};
	document.getElementById('delete_profile').onclick=
	function(){return window.confirm('注销用户将删除所有个人文章，该操作不可恢复，确定？');};
</script>
{% endblock %}